<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Navbar and Form</title>
    <link rel="stylesheet" href="/css/createBlog.css">
</head>
<body>

    <!-- Navbar importing from navbar.ejs-->
    <%- include("components/navbar.ejs")  %>
    <!-- Form Section -->
    <div class="form-container">
        <h2>Enter your Blog Title, Subtitle and Description.</h2>
        <!-- UTaa app.js maa banako /createBlog yeta action maa call gareko -->
        <form action="/createBlog" method="post" enctype = "multipart/form-data">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" placeholder="Enter the title" required>

            <label for="subtitle">Subtitle</label>
            <input type="text" id="subtitle" name="subtitle" placeholder="Enter the subtitle" required><br>
            <label for="image">Upload file:</label>
            <input type="file" id="image" name="image" required><br><br>

            <label for="description">Description</label>
            <textarea id="description" name="description" placeholder="Enter the description" required></textarea>

            <input type="submit" value="Submit">
        </form>
    </div>


    <%- include("components/footer.ejs")  %>


    <script>
        function toggleMenu() {
            const navbarMenu = document.getElementById('navbar-menu');
            if (navbarMenu.classList.contains('show-menu')) {
                navbarMenu.classList.remove('show-menu');
            } else {
                navbarMenu.classList.add('show-menu');
            }
        }
    </script>

</body>
</html>
