body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

h1 {
    color: #333;
    text-align: center;
}

/* Navbar Styling */
.navbar {
    height: 35px;
    background-color: #333;
    color: white;
    padding: 15px;
    position: relative;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

/* Hamburger Menu Styling */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

/* Hide Navbar Menu for Mobile */
.navbar ul {
    flex-direction: row;
}

.navbar ul.show-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #333;
    width: 100%;
}

.navbar ul.show-menu li {
    text-align: center;
    margin: 10px 0;
}

/* Blog Page Styling */
.blog-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.blog-container h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 36px;
    color: #2c3e50;
}

.blog-container h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #2980b9;
}

.blog-container p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .navbar ul {
        display: none;
    }

    .navbar ul.show-menu {
        display: flex;
    }
}

button a {
    padding: 5px;
    border-radius: 10px;
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    background-color: red;
}

button {
    padding: 5px;
    border-radius: 10px;
    color: white;
    border: none;
    border: 1px solid white;
    margin-top: 10px;
    cursor: pointer;
    background-color: red;
}
